* {
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

:root {
  --color-main: #FFEF4F;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-pretendard: "Pretendard", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header .header-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-box * {
  color: var(--color-white);
}
header .buttons-box {
  gap: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .buttons-box a {
  font-size: 1.8rem;
  font-weight: 600;
}
header .list-button {
  width: 28px;
  height: 28px;
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
header .list-button span {
  display: block;
  border: 2px solid var(--color-white);
  mix-blend-mode: difference;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}