* {
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

:root {
  --color-main: #FFEF4F;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-pretendard: "Pretendard", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.cursor-box .cursor-line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cursor-box .cursor-line line {
  stroke: var(--color-main);
  stroke-width: 2px;
}
.cursor-box .cursor-pointer {
  position: fixed;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 50%;
  background: var(--color-main);
  transform-origin: center center;
  transition: transform 0.4s linear;
  pointer-events: none;
  z-index: 1000;
}
.cursor-box.hover * {
  mix-blend-mode: difference;
}
.cursor-box.hover .cursor-line line {
  stroke: var(--color-white);
}
.cursor-box.hover .cursor-pointer {
  background: var(--color-white);
  transform: scale(4);
}

.scroll-wrap {
  transition: all 0.4s;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.scroll-wrap.dark {
  background: var(--color-black);
}
.scroll-wrap.dark * {
  color: var(--color-white);
}
.scroll-wrap.light {
  background: var(--color-white);
}
.scroll-wrap.light * {
  color: var(--color-black);
}

.scroll-container {
  width: 100%;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.text-box {
  width: 100%;
  height: 100vh;
  font-size: 80px;
  border: 1px solid tan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  display: flex;
  flex-direction: column;
  perspective: 800px;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
}
.img-box .cont {
  width: 100%;
  height: 480px;
  border: 1px solid yellow;
  transform-style: preserve-3d;
  transition: all 0.8s;
  color: #fff;
  font-size: 80px;
}

.blurCircle {
  border-radius: 50%;
  background: palevioletred;
  width: 200px;
  width: 200px !important;
  bottom: 100%;
  position: absolute;
}