@mixin wh {
	width: 100%;
	height: 100%;
}
@mixin w($width) {
	max-width: $width;
	margin: 0 auto;
	@include wh;
}

// flex
$flex: (
	start: flex-start,
	end: flex-end,
	center: center,
	around: space-around,
	between: space-between,
);
@function get-flex-value($key) {
	@return map-get($flex, $key);
}
@mixin flex($align: start, $justify: start) {
	display: flex;
	align-items: get-flex-value($align);
	justify-content: get-flex-value($justify);
}

// grid
@mixin gird($columns: true, $rows: true, $num-c: 0, $num-r: 0) {
	display: grid;
	@if ($columns and $rows) {
		grid-template-columns: repeat($num-c, 1fr);
		grid-template-rows: repeat($num-r, 1fr);
	} @else if ($columns) {
		grid-template-columns: repeat($num-c, 1fr);
	} @else if ($rows) {
		grid-template-rows: repeat($num-r, 1fr);
	}
}

:root {
	--color-main: #FFEF4F;
	--color-white: #ffffff;
	--color-black: #000000;

	--font-pretendard: 'Pretendard', sans-serif;
	--font-poppins: 'Poppins', sans-serif;
}

@mixin position($position: relative, $horizontal: true, $vertical: true) {
	position: $position;
	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else if ($horizontal) {
		left: 50%;
		transform: translate(-50%, 0);
	} @else if ($vertical) {
		top: 50%;
		transform: translate(0, -50%);
	} @else {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}