@import "_reset";
@import "_variables";

// common
.inner {
	max-width: 1280px;
	margin: 0 auto;
	@include wh;
}

// header
header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border: 2px solid white;
	.header-box {
		@include wh;
		@include flex(center, between);
		* {
			color: var(--color-white);
		}
	}
	.buttons-box {
		gap: 0 40px;
		@include flex(center, start);
		a {
			font-size: 1.8rem;
			font-weight: 600;
		}
	}
	.list-button {
		width: 28px;
		height: 28px;
		gap: 4px;
		@include gird(true, true, 2, 2);
		span {
			display: block;
			border: 2px solid var(--color-white);
			mix-blend-mode: difference;
			border-radius: 2px;
			@include wh;
		}
	}
}