@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fastly.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
	overflow: hidden;
	* {
		font-family: 'Lato', 'Pretendard', sans-serif;
	}
}

main {
	width: 100vw;
	height: 100vh;
	padding: 20px;
	position: relative;
	&.light {
		background: var(--color-black);
		* {
			color: var(--color-black);
		}
		section {
			background: var(--color-gray);
		}
		.information {
			.mode {
				&::before {
					border-color: var(--color-black);
				}
			}
		}
		.keywords {
			input {
				border: 2px solid var(--color-black);
				&:checked {
					background-color: var(--color-black);
					background-image: url('/portfolio/images/icons/checked_gray.svg');
				}
			}
		}
		.lines {
			background-image:
				linear-gradient(
					to right,
					var(--color-black) 0,
					var(--color-black) 2px,
					transparent 2px,
					transparent 100%
				),
				linear-gradient(
					to bottom,
					var(--color-black) 0,
					var(--color-black) 2px,
					transparent 2px,
					transparent 100%
				)
			;
		}
		.list {
			figure {
				border-top-color: var(--color-black);
			}
		}
	}
	&.dark {
		background: var(--color-gray);
		* {
			color: var(--color-gray);
		}
		section {
			background: var(--color-black);
		}
		.information {
			.mode {
				&::before {
					border-color: var(--color-gray);
				}
			}
		}
		.keywords {
			input {
				border: 2px solid var(--color-gray);
				&:checked {
					background-color: var(--color-gray);
					background-image: url('/portfolio/images/icons/checked_black.svg');
				}
			}
		}
		.tech {
			img {
				filter: invert(1) brightness(0.92);
			}
		}
		.lines {
			background-image:
				linear-gradient(
					to right,
					var(--color-gray) 0,
					var(--color-gray) 2px,
					transparent 2px,
					transparent 100%
				),
				linear-gradient(
					to bottom,
					var(--color-gray) 0,
					var(--color-gray) 2px,
					transparent 2px,
					transparent 100%
				)
			;
		}
		.list {
			figure {
				border-top-color: var(--color-gray);
			}
		}
	}
	article,
	section {
		@include wh;
	}
	article {
		display: grid;
		grid-template-rows: minmax(auto, 0.4fr) 0.3fr auto;
		grid-template-columns: 20% 80%;
		row-gap: 10px;
		column-gap: 10px;
	}
	section {
		border-radius: 10px;
		padding: 20px;
		transition: background-color 0.4s;
	}
	.information,
	.capabilities {
		padding: 30px 20px;
	}
	.information {
		div {
			display: flex;
		}
		.inner,
		.contact {
			flex-direction: column;
		}
		.inner {
			row-gap: 20px;
			justify-content: space-between;
			@include wh;
		}
		.top,
		.buttons .row {
			display: flex;
			align-items: center;
		}
		.top {
			justify-content: space-between;
			font-size: 2.8rem;
		}
		.mode {
			padding: 5px;
			position: relative;
			&::before,
			input {
				@include position(absolute, 50%, 50%);
			}
			&::before {
				content: '';
				display: block;
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				border: 2px solid transparent;
				border-radius: 10px;
			}
			input {
				opacity: 0;
				z-index: 1;
				@include wh;
			}
		}
		.buttons {
			position: relative;
			.row {
				column-gap: 5px;
				> div {
					height: 1em;
					padding: 3px;
				}
			}
			span {
				display: block;
				height: 100%;
				background: var(--color-black);
				background-color: var(--color-gray);
				border-radius: 10px;
				padding: 0 calc(25% - 1.25px);
				mix-blend-mode: difference;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				transition: left 0.4s;
			}
		}
		.iconify {
			@include wh;
		}
		.contact {
			row-gap: 5px;
		}
		h2 {
			font-weight: 600;
		}
		p {
			font-size: 2.0rem;
			font-weight: 500;
		}
	}
	.overview {
		@include flex(row, center, start);
		p {
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.4;
		}
	}
	.capabilities,
	.capabilities > div {
		@include flex(column, start, start);
	}
	.capabilities {
		justify-content: space-between;
		> div {
			row-gap: 20px;
		}
		h6 {
			font-size: 2.0rem;
			font-weight: 500
		}
	}
	.keywords {
		div {
			row-gap: 15px;
			@include flex(column, start, start);
		}
		label {
			column-gap: 5px;
			cursor: pointer;
			@include flex(row, center, start);
		}
		input {
			width: 16px;
			height: 16px;
			border-radius: 2px;
			&:checked {
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		span {
			font-size: 1.6rem;
			font-weight: 500;
		}
	}
	.tech {
		ul {
			row-gap: 3px;
			column-gap: 3px;
			@include grid(6, 2);
			li {
				display: flex;
				border-radius: 5px;
				overflow: hidden;
				@include wh;
			}
		}
	}
	.projects {
		grid-area: 1/2/4/2;
		overflow-y: scroll;
	}
	.box {
		position: relative;
	}
	.lines {
		width: 100%;
		height: calc(100% + 2px);
		@include position(absolute, 50%, 50%);
	}
	.lists {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		position: relative;
	}
	.list {
		position: relative;
		overflow: hidden;
		.text,
		figure {
			padding: 10px;
		}
		.text {
			row-gap: 5px;
			@include flex(column, start, start);
			span {
				font-size: 1.4rem;
				font-weight: 500;
			}
			h5 {
				font-size: 2.0rem;
				font-weight: 600;
			}
		}
		figure {
			border-top: 2px solid transparent;
			img {
				filter: grayscale(1);
			}
		}
	}
	.hover {
		display: block;
		background: var(--color-gray);
		position: absolute;
		mix-blend-mode: difference;
		pointer-events: none;
		@include wh;
	}
}

@media (max-width: 1640px) {
	main {
		article {
			grid-template-columns: 22% 78%;
		}
		.overview {
			p {
				font-size: 1.4rem;
			}
		}
	}
}

@media (max-width: 1400px) {
	main {
		.information {
			.top {
				font-size: 2.4rem;
			}
			p {
				font-size: 1.6rem;
			}
		}
		.overview {
			p {
				font-size: 1.2rem;
			}
		}
		.capabilities {
			h6 {
				font-size: 1.8rem;
			}
		}
		.list {
			.text {
				span {
					font-size: 1.2rem;
				}
				h5 {
					font-size: 1.6rem;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	main {
		article {
			grid-template-rows: minmax(auto, 0.4fr) auto;
			grid-template-columns: 35% auto;
		}
		.overview {
			p {
				font-size: 1.6rem;
			}
			br {
				display: none;
			}
		}
		.capabilities {
			display: none;
		}
		.projects {
			grid-area: 2/3/2/1;
		}
	}
}

@media (max-width: 1024px) {
	main {
		article {
			grid-template-columns: 40% auto;
		}
		.overview {
			br {
				display: block;
			}
		}
		.lists {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media (max-width: 768px) {
	main {
		article {
			grid-template-rows: inherit;
			grid-template-columns: inherit;
		}
		.projects {
			grid-area: inherit;
		}
		.lists {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 480px) {
	main {
		.information {
			padding: 20px;
			.inner {
				row-gap: 10px;
			}
			.top {
				font-size: 2.0rem;
			}
			p {
				font-size: 1.5rem;
			}
		}
		.overview {
			p {
				font-size: 1.4rem;
			}
		}
		.projects {
			padding: 10px;
		}
	}
}