@import "_reset";
@import "_variables";

.scroll-wrap {
	background: var(--color-black);
	overflow: hidden;
	@include wh;
	@include position(fixed, false, false);
	.scroll-container {
		width: 100%;
		position: absolute;
		overflow: hidden;
		backface-visibility: hidden;
		transform-style: preserve-3d;
	}
	.box {
		width: 100%;
		height: 2000px;
		border: 2px solid white;
	}
	.test {
		position: fixed;
		width: 200px;
		height: 200px;
		top: 50%;
		background: beige;
	}
}
body {
	width: 100%;
	height: 100vh;
	border: 2px solid blue;
}
.cursor-line {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
line {
	stroke: blueviolet;
	stroke-width: 2;
}
.scroll-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.scroll-container {
	width: 100%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.flex-box {
	display: flex;
	flex-direction: column;
	border: 1px solid #fff;
}
.flex-box div {
	width: 100%;
	height: 200px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 8.0rem;
	@include flex(center, center);
}
.blurCircle {
	border-radius: 50%;
	background: palevioletred;
	width: 200px;
	width: 200px !important;
	position: absolute;
	position: fixed;
}
.cursor-pointer {
	position: fixed;
	width: 10px;
	height: 10px;
	margin-left: -5px;
	margin-top: -5px;
	border-radius: 50%;
	background: blueviolet;
	transition: all 0.4s linear;
	transform-origin: center center;
	pointer-events: none;
	z-index: 1000;
}

.cursor-box.grow * {
	mix-blend-mode: difference;
}
.cursor-box.grow line {
	stroke: white;
}
.cursor-box.grow .cursor-pointer {
	background: white;
	transform: scale(4);
}