@import "_reset";
@import "_variables";

// cursor
.cursor-box {
	.cursor-line {
		@include wh;
		@include position(absolute, false, false);
		line {
			stroke-width: 2px;
		}
	}
	.cursor-pointer {
		position: fixed;
		width: 12px;
		height: 12px;
		margin-left: -6px;
		margin-top: -6px;
		border-radius: 50%;
		transform-origin: center center;
		transition: transform 0.4s linear;
		pointer-events: none;
		z-index: 200;
	}
	&.hover * {
		mix-blend-mode: difference;
	}
	&.hover .cursor-line line {
	}
	&.hover .cursor-pointer {
		transform: scale(4);
	}
}

.noise {
	background: url("/img/noise.gif") repeat;
	position: fixed;
	z-index: 10;
	opacity: 0.08;
	pointer-events: none;
	@include wh;
}
.scroll-wrap {
	transition: all 0.4s;
	// overflow: hidden;
	@include wh;
	@include position(fixed, false, false);
	&.dark {
		background-color: var(--color-black);
		* {
			color: var(--color-white);
		}
		.cursor-box {
			.cursor-line {
				line {
					stroke: var(--color-main);
				}
			}
			.cursor-pointer {
				background: var(--color-main);
			}
			&.hover .cursor-line line {
				stroke: var(--color-white);
			}
			&.hover .cursor-pointer {
				background: var(--color-white);
			}
		}
		.img-box {
			.cont {
				background: var(--color-main);
			}
		}
	}
	&.light {
		background: var(--color-white);
		* {
			color: var(--color-black);
		}
		.cursor-box {
			.cursor-line {
				line {
					stroke: var(--color-sub);
				}
			}
			.cursor-pointer {
				background: var(--color-sub);
			}
			&.hover .cursor-line line {
				stroke: var(--color-white);
			}
			&.hover .cursor-pointer {
				background: var(--color-white);
			}
		}
		.img-box {
			.cont {
				background: var(--color-sub);
			}
		}
	}
}
.scroll-container {
	width: 100%;
	position: absolute;
	// overflow: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.text-box {
	width: 100%;
	height: 100vh;
	font-size: 80px;
	position: absolute;
	@include flex(center, center);
}
main {
	.inner {
		width: 100%;
		height: 100vh;
		perspective: 800px;
	}
}
.img-box {
	width: 100%;
	gap: 40px 0;
	transform-style: preserve-3d;
	transition: all 0.8s;
	@include wh;
	@include gird(true, false, 1, 0);
	.item {
		position: absolute;
		left: 0;
		border: 1px solid green;
		// left: 50%;
		// transform: translateX(-50%);
		transition: all 0.2s linear;
		@include wh;
		@include flex(center, center);
		@for $i from 1 through 20 {
			&:nth-child(#{$i}) {
				transition-delay: $i * 0.2s;
			}
		}
	}
	.cont {
		width: 100%;
		height: 480px;
		// transform-style: preserve-3d;
		color: black;
		font-size: 80px;
		transition: all 0.8s;
		@include flex(center, center);
	}
}
.blurCircle {
	border-radius: 50%;
	background: palevioletred;
	width: 200px;
	width: 200px !important;
	bottom: 100%;
	position: absolute;
}