
.partnerBox {
	width: 100%;
	height: 100vh;
	position: relative;
}

.partner {
	width: 100%;
	height: 100%;
}

.partner .contents {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.partner h2 {
	color: #f1e4d7;
	padding: 0 0 55px;
}

.partner .imgWrap {
	width: 33.769%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	/* padding: 45px; */
	position: relative;
}

.partner .imgBox {
	width: 100%;
	/* max-width: 550px; */
	max-width: 100%;
	height: 100%;
	padding: 75.85% 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.partner .img {
	position: absolute;
	left: 50%;
	bottom: 0%;
	overflow: hidden;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.partner .img img {
	min-width: 100%;
	min-height: 100%;
	max-height: inherit;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.partner .vertical {
	left: 33.769%;
}

.partner .text {
	width: 66.231%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	color: #f1e4d7;
	padding: 45px 35px;
	position: relative;
}

.partner .text::before {
	content: "";
	background: url("/img/main/partnerPoint.png") no-repeat left top/cover;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.partner .text .line {
	width: 0;
	position: inherit;
	-webkit-transform: translateX(-35px);
	transform: translateX(-35px);
}

.partner .text .line.on {
	width: calc(100% + 70px);
}

.partner .text b {
	display: block;
	margin: 0 0 20px;
}

.partner .infoBox {
	opacity: 0;
	position: relative;
}

.partner .info {
	padding: 55px 0 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.partner .info p {
	color: #9d978f;
	font-size: 1.6rem;
	line-height: 1.875;
	padding: 30px 0 0;
}

.partner.on .imgWrap::after {
	width: 0;
}

.partner.on .sectionTitle b span {
	-webkit-transform: translateY(0) skew(0) rotate(0);
	transform: translateY(0) skew(0) rotate(0);
	opacity: 1;
}

.partner.on .sectionTitle b span.span1 {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.partner.on .sectionTitle b span.span2 {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

.partner.on .sectionTitle b span.span3 {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}

.partner.on .sectionTitle b span.span4 {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.partner.on .sectionTitle b span.span5 {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.partner.on .sectionTitle b span.span6 {
	-webkit-transition-delay: 0.72s;
	transition-delay: 0.72s;
}

.partner.on .sectionTitle b span.span7 {
	-webkit-transition-delay: 0.84s;
	transition-delay: 0.84s;
}

.partner.on .sectionTitle b span.span8 {
	-webkit-transition-delay: 0.96s;
	transition-delay: 0.96s;
}

.partner.on .sectionTitle b span.span9 {
	-webkit-transition-delay: 1.08s;
	transition-delay: 1.08s;
}

.partner.on .sectionTitle b span.span10 {
	-webkit-transition-delay: 1.2s;
	transition-delay: 1.2s;
}

.partner.on .sectionTitle b span.span11 {
	-webkit-transition-delay: 1.32s;
	transition-delay: 1.32s;
}

.partner.on .sectionTitle b span.span12 {
	-webkit-transition-delay: 1.44s;
	transition-delay: 1.44s;
}

.partner.on .sectionTitle b span.span13 {
	-webkit-transition-delay: 1.56s;
	transition-delay: 1.56s;
}

.partner.on .sectionTitle b span.span14 {
	-webkit-transition-delay: 1.68s;
	transition-delay: 1.68s;
}

.partner.on .sectionTitle b span.span15 {
	-webkit-transition-delay: 1.8s;
	transition-delay: 1.8s;
}

.partner.on .sectionTitle b span.span16 {
	-webkit-transition-delay: 1.92s;
	transition-delay: 1.92s;
}

.partner.on .sectionTitle b span.span17 {
	-webkit-transition-delay: 2.04s;
	transition-delay: 2.04s;
}

.partner.on .sectionTitle b span.span18 {
	-webkit-transition-delay: 2.16s;
	transition-delay: 2.16s;
}

.partner.on .sectionTitle b span.span19 {
	-webkit-transition-delay: 2.28s;
	transition-delay: 2.28s;
}

.partner.on .sectionTitle b span.span20 {
	-webkit-transition-delay: 2.4s;
	transition-delay: 2.4s;
}

.partner.on .text .line {
	width: calc(100% + 70px);
}

.partner.on .text .infoBox {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.talent .sectionTitle {
	padding: 55px 0 60px;
}

.talent .itemBox {
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
}

.talent .itemBox .item .iconBox {
	padding: 60px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.talent .itemBox .item .icon {
	height: 164px;
	-webkit-transition: all 0.8s 0.28s linear;
	transition: all 0.8s 0.28s linear;
}

.talent .itemBox .item h6 {
	width: 100%;
	border-top: 1px solid rgba(241, 228, 215, 0.5);
	border-bottom: 1px solid rgba(241, 228, 215, 0.5);
	padding: 16px 0;
}

.talent .itemBox .item dl {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px 0;
	padding: 50px 0;
}

.talent .itemBox .item dl dt {
	font-size: 1.8rem;
	font-weight: 600;
}

.talent .itemBox .item dl dd {
	color: #aca59d;
	font-weight: 300;
	line-height: 1.2;
}

.talent .itemBox .item dl br {
	display: none;
}

.talent .itemBox .line.line1 {
	left: 33.3333%;
}

.talent .itemBox .line.line2 {
	left: 66.6666%;
}

.recruit {
	width: 100% !important;
	max-width: inherit !important;
	height: 100vh;
	background: url("/img/main/recruitBg.jpg") no-repeat center bottom/cover;
}

.recruit .box,
.recruit .contents,
.recruit .flexBox {
	width: 100%;
	height: 100%;
}

.recruit .box {
	padding: 100px 0;
	position: relative;
}

.recruit .flexBox {
	position: relative;
	z-index: 2;
}

.recruit .title {
	position: relative;
	z-index: 2;
}

.recruit .sectionTitle {
	color: #f1e4d7;
}

.recruit .sectionTitle.big {
	display: inline-block;
	font-size: 10.2rem;
	margin: 10px 0 0 4.4%;
	position: relative;
}

.recruit .sectionTitle.big::before, .recruit .sectionTitle.big::after {
	content: "";
	display: block;
	width: 0;
	height: 1px;
	background: rgba(241, 228, 215, 0.8);
	position: absolute;
	bottom: -2px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.recruit .sectionTitle.big::before {
	left: 0;
}

.recruit .sectionTitle.big::after {
	right: calc(6% + 8px);
}

.recruit .sectionTitle.big.on::before, .recruit .sectionTitle.big.on::after {
	width: calc(44% + 4px);
	-webkit-transition: all 0.6s 3.02s linear;
	transition: all 0.6s 3.02s linear;
}

.recruit .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 45px 0;
	margin: auto 0 0 auto;
}

.recruit .info p, .recruit .info a {
	color: #f1e4d7;
	font-size: 1.8rem;
	font-weight: 200;
}

.recruit .info p {
	line-height: 1.5555;
}

.recruit .info a {
	width: 280px;
	height: 70px;
	gap: 0 30px;
	border: 1px solid #f1e4d7;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.recruit .info a::before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	background: #f1e4d7;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	-webkit-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

.recruit .info a p, .recruit .info a span {
	position: relative;
	z-index: 2;
}

.recruit .info a p, .recruit .info a .arrowCls-1 {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.recruit .info a p {
	font-weight: 300;
}

.recruit .info a span {
	width: 19px;
	height: 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.recruit .info a:hover::before {
	width: 100%;
}

.recruit .info a:hover p {
	color: #1b2825;
}

.recruit .info a:hover .arrowCls-1 {
	fill: #1b2825;
}

.recruit .galleryWrap {
	width: 200%;
	width: 210%;
	height: 100%;
	margin: 0 45px;
	position: absolute;
	top: 0;
	left: 0;
}

.recruit .galleryBox {
	width: 100%;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.recruit .galleryBox .item {
	position: absolute;
}

.recruit .galleryBox .item1 {
	width: 21.094vw;
	top: -9vh;
	left: 0;
}

.recruit .galleryBox .item2 {
	width: 32.813vw;
	top: 2.4vh;
	left: 24.6vw;
}

.recruit .galleryBox .item3 {
	width: 30.99vw;
	left: 45.4vw;
	bottom: 3vh;
}

.recruit .galleryBox .item4 {
	width: 25vw;
	top: 1vh;
	left: 75.6vw;
}

.recruit .galleryBox .item5 {
	width: 19.532vw;
	left: 95vw;
	bottom: 9.5vh;
}

.recruit .galleryBox .item6 {
	width: 30.209vw;
	top: -18vh;
	left: 119.2vw;
}

.recruit .galleryBox .item7 {
	width: 25vw;
	top: 1vh;
	left: 155.2vw;
}

.recruit .galleryBox .item8 {
	width: 30.99vw;
	left: 185.4vw;
	bottom: 3vh;
}

.contact {
	background: #1b2825;
}

.contact .sectionTitle {
	padding: 65px 0 60px;
}

.contact .contents,
.contact .flexBox {
	position: relative;
}

.contact .vertical {
	left: 51.5625%;
}

.contact .infoBox {
	width: 51.5625%;
	padding: 60px 65px 0 0;
}

.contact .infoBox ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px 0;
	margin: 45px 0 0;
}

.contact .infoBox ul li {
	font-size: 1.8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contact .infoBox ul li h6 {
	width: 95px;
	text-align: left;
}

.contact .infoBox ul li p {
	font-weight: 300;
	line-height: 1;
}

.contact .mapBox {
	width: 100%;
}

.contact .root_daum_roughmap {
	width: 100%;
}

.contact .root_daum_roughmap .wrap_map {
	height: 478px;
}

.contact .root_daum_roughmap .wrap_controllers {
	display: none;
}

.contact .formBox {
	width: 48.4375%;
	padding: 60px 0 55px 45px;
}

.contact .formBox ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px 0;
}

.contact .formBox ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contact .formBox ul li h6, .contact .formBox ul li input[type=text] {
	height: 56px;
}

.contact .formBox ul li h6 {
	width: 86px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contact .formBox ul li input, .contact .formBox ul li textarea {
	width: 100%;
	max-width: 654px;
	background: rgba(0, 0, 0, 0.1);
	font-size: 1.6rem;
	color: #f1e4d7;
	padding: 20px;
}

.contact .formBox ul li input::-webkit-input-placeholder, .contact .formBox ul li textarea::-webkit-input-placeholder {
	font-size: 1.6rem;
	color: rgba(200, 190, 179, 0.2);
}

.contact .formBox ul li input:-ms-input-placeholder, .contact .formBox ul li textarea:-ms-input-placeholder {
	font-size: 1.6rem;
	color: rgba(200, 190, 179, 0.2);
}

.contact .formBox ul li input::-ms-input-placeholder, .contact .formBox ul li textarea::-ms-input-placeholder {
	font-size: 1.6rem;
	color: rgba(200, 190, 179, 0.2);
}

.contact .formBox ul li input::placeholder, .contact .formBox ul li textarea::placeholder {
	font-size: 1.6rem;
	color: rgba(200, 190, 179, 0.2);
}

.contact .formBox ul li textarea {
	height: 230px;
}

.contact .formBox ul li textarea::-webkit-scrollbar {
	width: 4px;
}

.contact .formBox ul li textarea::-webkit-scrollbar-thumb {
	background: #f1e4d7;
	border-radius: 2px;
}

.contact .formBox ul li textarea::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
}

.contact .formBox ul li:last-child {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.contact .checkBox {
	gap: 0 10px;
	margin: 15px 0 0 86px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contact .checkBox label,
.contact .checkBox a {
	font-size: 1.5rem;
	font-weight: 300;
}

.contact .checkBox label {
	color: rgba(200, 190, 179, 0.6);
	letter-spacing: 0.020em;
	gap: 0 8px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contact .checkBox label input[type=checkbox] {
	width: 15px;
	height: 15px;
	background: #c8beb3;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.contact .checkBox label input[type=checkbox]:checked {
	background: #c8beb3 url("/img/common/checkIcon.png") no-repeat center;
}

.contact .checkBox a {
	color: #ddd2c6;
}

.contact .submitBox {
	width: 228px;
	height: 70px;
	margin: 45px auto 0;
	-webkit-transform: translateX(86px);
	transform: translateX(86px);
}

.contact .submitBox::before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	background: #f1e4d7;
	-webkit-transition: all 0.6s linear;
	transition: all 0.6s linear;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.contact .submitBox input[type=submit] {
	background: transparent;
	border: 1px solid #f1e4d7;
	color: #f1e4d7;
	font-size: 1.8rem;
	font-weight: 300;
	position: relative;
	z-index: 2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.contact .submitBox:hover::before {
	width: 100%;
}

.contact .submitBox:hover input[type=submit] {
	color: #1b2825;
	font-weight: 400;
}